blinker==1.8.2  # Compatible with Python 3.8
certifi==2024.2.2  # Compatible with Python 3.8
charset-normalizer==2.0.12  # Last version before Python 3.9 requirement
click==8.0.4  # Last version compatible with Python 3.8
Flask==2.0.3  # Last major release compatible with Python 3.8
idna==3.3  # Compatible with Python 3.8
importlib_metadata==4.11.3  # Compatible with Python 3.8
itsdangerous==2.1.2  # Compatible with Python 3.8
Jinja2==3.1.2  # Compatible with Python 3.8
lxml==4.9.1  # Last version before Python 3.9 requirement
MarkupSafe==2.0.1  # Compatible with Python 3.8
numpy==1.23.0  # Last major version compatible with Python 3.8
pandas==1.4.3  # Last version compatible with Python 3.8
pillow==9.0.1  # Last version compatible with Python 3.8
python-dateutil==2.8.2  # Compatible with Python 3.8
python-docx==0.8.11  # Compatible with Python 3.8
python-dotenv==0.19.2  # Compatible with Python 3.8
pytz==2021.3  # Compatible with Python 3.8
requests==2.28.1  # Last version compatible with Python 3.8
six==1.16.0  # Compatible with Python 3.8
typing_extensions==4.0.1  # Compatible with Python 3.8
tzdata==2022.1  # Compatible with Python 3.8
urllib3==1.26.9  # Last version compatible with Python 3.8
Werkzeug==2.0.3  # Compatible with Python 3.8
zipp==3.8.0  # Compatible with Python 3.8

